@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Barlow Condensed", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  padding-top: 3.125rem;

  @media screen and (max-width: 48rem) {
    padding-top: 0rem;
  }
}

.animation {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
